<div class="pd-20">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 保税仓管理 <span class="c-gray en">&gt;</span> 保税仓列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a href="javascript:;" onClick="show_layer('添加保税仓','${handler.reverse_url('ware_house','')}','600','500')" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe600;</i> 添加保税仓 </a>
        </span>
        <span class="r">共有数据：<strong></strong> ${count}条</span>
    </div>
    <div class="mt-20 dataTables_wrapper">
    <table class="table table-border table-bordered table-hover table-bg table-sort">
        <thead>
            <tr class="text-c">
                <th width="30">ID</th>
                <th width="25">保税仓名称</th>
                <th width="25">保税仓code</th>
                <th width="30">描述</th>
                <th width="50">公告</th>
                <th width="50">操作</th>
            </tr>
        </thead>
        <tbody>
<?py for ware_house in data.result: ?>
    <tr class="text-c">
        <td>${ware_house.id}</td>
        <td>${ware_house.name}</td>
        <td>${ware_house.ware_house_code}</td>
        <td>${ware_house.desc}</td>
        <td>${ware_house.notice}</td>
        <td>
            <a onClick="show_layer('编辑保税仓','${handler.reverse_url('ware_house','')}?ware_house_id=${ware_house.id}','600','500')" title="编辑">编辑
            </a>
        </td>
    </tr>
<?py #endfor?>
        </tbody>
    </table>
        #{data.admin_pagination_html()}
    </div>
</div>
</div>
<script type="text/javascript">
/*发货-确认*/
function show_layer(title,url,w,h){
    layer_show(title,url,w,h);
}
</script> 
<script type="text/javascript">
    $(document).ready(function(){
        $(".dataTables_length,.dataTables_filter").hide();
    });
</script>


