<div class="pd-20">
<div class="pd-20">
    <div class="mt-20 dataTables_wrapper">
    <table class="table table-border table-bordered table-hover table-bg table-sort">
        <h5>物流公司: ${data.get('company_name')}</h5> 
        <h5>物流单号: ${data.get('WaybillNumber')}</h5> 
        <thead>
            <tr class="text-c">
                <th width="50">时间</th>
                <th width="50">状态</th>
            </tr>
        </thead>
        <tbody>
            <?py if data.get('status') == 200: ?>
                <td>${data.get('data')}</td>
                <td></td>
            <?py else: ?>
                <tr class="text-c">
                    <td></td>
                    <td>${data.get('data')}</td>
                </tr>  
            <?py #endif ?>
        </tbody>
    </table>
    </div>
</div>
</div>
<script type="text/javascript"></script>