<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">

        <dl id="menu-order">
			<dt><i class="Hui-iconfont">&#xe687;</i> 订单中心<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="/supply/orders/index.html" href="javascript:void(0)">订单列表</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-express">
			<dt><i class="Hui-iconfont">&#xe687;</i> 运单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="/supply/orders/express.html" href="javascript:void(0)">运单列表</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
