<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="${handler.static_domain}/admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="${handler.static_domain}/admin/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="${handler.static_domain}/admin/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="${handler.static_domain}/admin/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="${handler.static_domain}/admin/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" href="${handler.static_domain}/admin/lib/icheck/icheck.css" type="text/css">
    <script type="text/javascript" src="${handler.static_domain}/admin/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="${handler.static_domain}/admin/lib/layer/1.9.3/layer.js"></script>
    <script type="text/javascript" src="${handler.static_domain}/admin/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript" src="${handler.static_domain}/admin/lib/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="${handler.static_domain}/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="${handler.static_domain}/admin/js/H-ui.js"></script>
    <script type="text/javascript" src="${handler.static_domain}/admin/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="${handler.static_domain}/admin/lib/html5.js"></script>
    <script type="text/javascript" src="${handler.static_domain}/admin/lib/respond.min.js"></script>
    <script type="text/javascript" src="${handler.static_domain}/admin/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
    <title></title>
</head>
<body>
  #{_content}
</body>
</html>