<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <?py include('mobile/include/header.html') ?>
</head>
<body>
<div class="g-bd">
    <div style="text-align:center;font-size:1.8rem;margin:10px 0;">
        <span class="tit">支付成功</span>
    </div>
    <a style="background-color: #d71111" class="u-btn u-btn-1 s-fc5" href="${self.reverse_url('member')}">查看订单</a>
</div>
</body>
</html>