<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>全球抢购（qqqg.com）全球抢购-100%海外直采!</title>
    <meta name="keywords" content="全球抢购,海淘,跨境购,代购,进口,跨境电商,海外直邮"/>
    <meta name="description" content="全球抢购-安全、放心的跨境海淘网站，官方认证，正品保证。轻松购遍海外进口母婴，进口美食 ，进口电子数码，更多产品正陆续推出"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shoctcut icon" href="http://cdn.qqqg.com/mobile/images/qqqg.ico" />
    <?py include('mobile/include/css.html') ?>
</head>
<body>
<?py include('mobile/include/header.html') ?>
<?py include('mobile/include/navigation.html') ?>
#{_content}
<?py include('mobile/include/footer.html') ?>
<?py include('mobile/include/js.html') ?>
</body>
</html>