
<div id="docFoot">
    <div class="footBgWrap">
        <div class="box">
            <div id="btmlist">
                <ul class="clearfix">
                    <li>
                        <i class="w-icon w-icon-23"> </i>

                        <strong class="tit">100%自营正品</strong>

                        <span class="desc">全球抢购 正品保障</span>

                    </li>
                    <li>
                        <i class="w-icon w-icon-23 w-icon-23-1"> </i>

                        <strong class="tit">100%海外精选</strong>

                        <span class="desc">全球尖货 一站选购</span>

                    </li>
                    <li>
                        <i class="w-icon w-icon-23 w-icon-23-2"> </i>

                        <strong class="tit">7天无忧退货</strong>

                        <span class="desc">国内退货 售后无忧</span>

                    </li>
                    <li class="last">
                        <i class="w-icon w-icon-23 w-icon-23-3"> </i>

                        <strong class="tit">全新海淘模式</strong>

                        <span class="desc">极速清关 政府监管</span>

                    </li>
                </ul>
            </div>
            <div id="guideList">
                <ul class="clearfix">
                    <li class="bd_none first">
                        <img src="http://cdn.qqqg.com/web/images/footer/logo-footer.png" width="207" />

                    </li>
                    <li>
                        <dl>
                            <dt><em>商品保障</em></dt>

                            <dd><a rel="nofollow" title="自营正品" href="#genuine" target="_blank">自营正品</a>
                            </dd>
                            <dd><a rel="nofollow" title="海外直邮" href="#global" target="_blank">海外直邮</a>
                            </dd>
                            <dd><a rel="nofollow" title="无忧退货" href="#promise" target="_blank">无忧退货</a>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><em>新手指南</em></dt>

                            <dd><a rel="nofollow" title="购物流程" href="/help/buy.html" target="_blank">购物流程</a>
                            </dd>
                            <dd><a rel="nofollow" title="支付方式" href="/help/epay.html" target="_blank">支付方式</a>
                            </dd>
                            <dd><a rel="nofollow" title="通关关税" href="/help/tariff.html" target="_blank">通关关税</a>
                            </dd>
                            <dd><a rel="nofollow" title="常见问题" href="/help/faq.html" target="_blank">常见问题</a>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><em>售后服务</em></dt>

                            <dd><a rel="nofollow" title="退货政策" href="/help/returnpolicy.html" target="_blank">退货政策</a>
                            </dd>
                            <dd><a rel="nofollow" title="退货流程" href="/help/returnprocess.html" target="_blank">退货流程</a>
                            </dd>
                            <dd><a rel="nofollow" title="退款说明" href="/help/refund.html" target="_blank">退款说明</a>
                            </dd>
                            <dd><a rel="nofollow" title="联系客服" href="#">联系客服</a>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><em>物流配送</em></dt>

                            <dd><a rel="nofollow" title="配送方式" href="/help/deliverymode.html" target="_blank">配送方式</a>
                            </dd>
                            <dd><a rel="nofollow" title="物流跟踪" href="/help/logistracking.html" target="_blank">物流跟踪</a>
                            </dd>
                            <dd><a rel="nofollow" title="快递单号查询" href="http://www.aikuaidi.cn/" target="_blank">快递单号查询</a>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><em>关于我们</em></dt>

                            <dd><a rel="nofollow" title="网站简介" href="/help/siteintro.html" target="_blank">网站简介</a>
                            </dd>
                            <dd><a rel="nofollow" title="联系我们" href="/help/contactus.html" target="_blank">联系我们</a>
                            </dd>
                            <dd><a rel="nofollow" title="招商合作" href="/help/cooperation.html" target="_blank">招商合作</a>
                            </dd>
                        </dl>
                    </li>
                    <li class="bd_none item" style="margin-left:50px;">
                        <img width="132px" height="129px" src="http://cdn.qqqg.com/web/images/footer/code.png" >

                    </li>
                </ul>
            </div>
            <div class="guideLine" style="text-align: center;">
                <span class="reddot"></span>客服热线：400-1513-400  <span class="reddot"></span>工作时间：周一 到 周日 09:00 - 18:00
            </div>
            <!--
            <div class="friends">
            </div>
            -->
        </div>
    </div>
    <div id="aboutNEST">
        <a title="About QQQG" target="_blank" rel="nofollow" href="/help/siteintro.html">About QQQG</a> -
        <a title="公司简介" target="_blank" rel="nofollow" href="/help/siteintro.html">公司简介</a> -
        <a title="联系方法" target="_blank" rel="nofollow" href="/help/contactus.html">联系方法</a>-
        <a title="客户服务" target="_blank" rel="nofollow" href="/help/contactus.html">客户服务</a> -
        <a title="隐私政策" target="_blank" rel="nofollow" href="/help/legal.html">隐私政策</a>-
        <a title="全球抢购" target="_blank" href="http://www.qqqg.com/">全球抢购</a>
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256409099'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1256409099%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
        <br>网站备案信息：<a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank">沪ICP备15048463号</a><span class="copyTxt">上海科赛企业发展有限公司</span>
    </div>
</div>
