<div id="topNav" class="topNav">
    <?py include('common/header.html') ?>
</div>
<!--
<div class="whitebg">
    <div class="container notice">尊敬的客户：因快递公司自2016年01月27日起停运，2016年02月15日开始陆续恢复揽件，故即日起所有订单暂停发货，待快递恢复揽件后依次清关发货。全球抢购全体员工恭祝您猴年阖家欢乐，身体健康，万事顺意！
    </div>
</div>
-->
<div class="ht-header-wrapper">
    <div id="htHeader" class="ht-header">
        <div class="container">
            <a href="/" class="ht-logo">
                全球抢购</a>
            <div id="htSearch" class="ht-search">
            <form id="search-form" method="GET" target="_blank" action="http://s.qqqg.com/search.html">
                <input type="text" value="" id="key" autofocus="" autocomplete="off" placeholder="搜索" name="key" class="txt-search">

                <input type="submit" value="搜 索" class="btn-search">
            </form>
            <div id="search-progressbar" role="progressbar" class="ui-progressbar">
                <div class="ui-progressbar-track">
                    <div class="ui-progressbar-thumb"><!--搜索进度--></div>
                </div>
            </div>
            <div class="tip-search">
                <i class="tip-arrow"></i>
                <div class="tip-content"><!--提示信息--></div>
            </div>
            <dl class="mod-partner">
                <dd class="item"><a class="itemVal" href="javascript:void(0);">硬盘</a></dd>
                <dd class="item"><a class="itemVal" href="javascript:void(0);">机油</a></dd>
                <dd class="item"><a class="itemVal" href="javascript:void(0);">纸尿裤</a></dd>
            </dl>
        </div>
        </div>
    </div>
</div>
