<div class="pd-20">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 佣金结算 <span class="c-gray en">&gt;</span> 佣金结算日志列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="pd-20">
        <form>
            分销商：
            <select class="input-text" style="width:100px" name="drp_usere_id" id="drp_usere_id">
                <?py if drp_usere_id: ?>
                    <option value="">全部</option>
                    <?py for distributor in distributors: ?>
                        <?py if distributor.id == int(drp_usere_id): ?>
                            <option value="${int(drp_usere_id)}" selected="selected">${distributor.real_name}</option>
                            <?py continue?>
                        <?py else: ?>
                            <option value="${distributor.id}">${distributor.real_name}</option>
                        <?py #endif ?>
                    <?py #endfor?>
                <?py else: ?>
                    <option value="">全部</option>
                    <?py for distributor in distributors: ?>
                        <option value="${distributor.id}">${distributor.real_name}</option>
                    <?py #endfor?>
                <?py #endif ?>
            </select>
            <input type="text" name="keyword" id="keyword" placeholder="请输入结算单号或者银行流水号" style="width:250px" class="input-text" value="${keyword}" >
			<button name="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i>搜索</button>
        </form>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="r">共有数据：<strong></strong>${count} 条</span>
        </div>
		<div class="mt-20 dataTables_wrapper" id="item_data">
			<table class="table table-border table-bordered table-bg table-hover table-sort">
				<thead>
					<tr class="text-c">
						<th width="10"><input name="" type="checkbox" value=""></th>
						<th width="15">ID</th>
						<th width="25">分销商名称</th>
						<th width="30">佣金总金额</th>
                        <th width="30">结算单号</th>
                        <th width="30">银行流水号</th>
                        <th width="30">结算时间</th>

					</tr>
				</thead>
				<tbody>
                    <?py for comm in data.result: ?>
                        <tr class="text-c va-m" id="${comm.id}">
                            <td><input name="" type="checkbox" value="${comm.id}"></td>
                            <td>${comm.id}</td>
                            <td>${handler.get_distributors_by_id(comm.drp_usere_id)}</td>
                            <td>${comm.settlement_amount}</td>
                            <td>${comm.settlement_no}</td>
                            <td>${comm.payment_no}</td>
                            <td>${comm.gmt_created}</td>

                        </tr>
                    <?py #endfor ?>
				</tbody>
			</table>
               #{data.admin_pagination_html()}
		</div>
	</div>
</div>
<script type="text/javascript">
function show_order_items(title,url,w,h){
    layer_show(title,url,w,h);
}
/*发货-确认*/
function delivery_goods(title,url,w,h){
    layer_show(title,url,w,h);
}
</script>