<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="/static/admin/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/admin/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="/static/admin/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
    <link href="/static/admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/static/admin/css/H-ui.login.css" rel="stylesheet" type="text/css" />
    <title></title>
</head>
<body>
<div>
  <div>用户登录</div>
  <div id="loginform" class="loginBox">
    <form  action="" method="post">

      <div class="row">
        <input name="phone">
          <input type="submit" value="登录">
      </div>
    </form>
  </div>
</div>
<div class="footer">Copyright 全球抢购</div>

</body>
</html>
