<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>全球抢购（qqqg.com）全球抢购-100%海外直采！</title>
    <meta name="keywords" content="全球抢购,海淘,跨境购,代购,进口,跨境电商,海外直邮"/>
    <meta name="description" content="全球抢购-安全、放心的跨境海淘网站，官方认证，正品保证。轻松购遍海外进口母婴，进口美食 ，进口电子数码，更多产品正陆续推出。"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shoctcut icon" href="http://cdn.qqqg.com/web/images/qqqg.ico" />
    <link rel="stylesheet" media="screen" href="http://cdn.qqqg.com/web/css/com.min.css">
    <link rel="stylesheet" media="screen" href="http://cdn.qqqg.com/web/css/index.min.css">

<script type="text/javascript" src="http://cdn.qqqg.com/web/js/jquery.js"></script>
<script type="text/javascript" src="http://cdn.qqqg.com/web/js/util.js"></script>
</head>
<body>

<div id="topNav" class="topNav">
 <div id="topNavWrap" class="container">
        <div id="topNavLeft" class="clearfix">
                <a href="#" class="login">登录</a>
                <span class="sep">|</span>
                <a href="/reg.html">免费注册</a>
        </div>
        <ul id="topNavRight">
            <li><a href="/member/index.html" class="toplevel">我的订单</a><span class="sep">|</span></li>
            <li><a href="/member/index.html" class="toplevel">个人中心</a><span class="sep">|</span></li>
            <li>
                <div class="mcDropMenuBox">
                    <a rel="nofollow" href="javascript:void(0);" class="toplevel topNavHolder nolink">客户服务<i class="arr"></i></a><span class="sep">|</span>
                    <div class="mcDropMenu">
                        <a data-label="" rel="nofollow" onclick="javascript:void(0);" href="#" class="contact">联系客服</a>
                        <a rel="nofollow" href="javascript:void(0);" class="phone nolink">400-1513-400</a>
                        <a rel="nofollow" href="/foot/faq.html" class="help">帮助中心</a>
                    </div>
                </div>
            </li>
            <li class="more">
                <div class="mcDropMenuBox focuson">
                    <a href="#" class="toplevel topNavHolder">更多<i class="arr"></i></a></a>
                    <div class="mcDropMenu">
                        <a rel="nofollow" href="javascript:;" id="addFavBtn">收藏本站</a>
                        <a rel="nofollow" href="javascript:void(0);" class="nolink clearfix">
                            <span class="txt">微信公众号</span>
                        <span class="m-notice">
                            <img width="100px" height="100px" src="http://cdn.qqqg.com/web/images/2dcode/2dcode-wx.jpg">
                            <span class="arrow">
                                <span class="arr"></span>
                                <span class="arr1"></span>
                            </span>
                        </span>
                        </a>
                        <a rel="nofollow" target="_blank" href="#" class="wb clearfix">
                            <span class="txt">新浪微博</span>
                        <span class="m-notice m-notice-1">
                            <img width="100px" height="100px" src="http://cdn.qqqg.com/web/images/2dcode/2dcode-wx.jpg">
                            <span class="arrow">
                                <span class="arr"></span>
                                <span class="arr1"></span>
                            </span>
                        </span>
                        </a>
                        <!--
                        <a rel="nofollow" href="javascript:void(0);" class="yixin nolink clearfix">
                            <span class="txt">易信公众号</span>
                        <span class="m-notice m-notice-2">
                            <img width="100px" height="100px" src="/static/images/2dcode/2dcode-wx.jpg">
                            <span class="arrow">
                                <span class="arr"></span>
                                <span class="arr1"></span>
                            </span>
                        </span>
                        </a>
                        -->
                        <a rel="nofollow" href="#" class="cooperation">招商合作</a>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>

<div class="ht-header-wrapper">
    <div id="htHeader" class="ht-header">
        <div class="container">
            <a href="/" class="ht-logo">
                全球抢购</a>			<div class="ht-search">
            <form did="search-form" method="GET" action="/site/search_list/cat/0">
                <input type="text" value="" autofocus="" autocomplete="off" placeholder="搜索" name="word" class="txt-search">
                <input type="hidden" value="s" name="search_type">
                <input type="submit" data-click-sc="" value="搜 索" class="btn-search">
            </form>
            <div id="search-progressbar" role="progressbar" class="ui-progressbar">
                <div class="ui-progressbar-track">
                    <div class="ui-progressbar-thumb"><!--搜索进度--></div>
                </div>
            </div>
            <div class="tip-search">
                <i class="tip-arrow"></i>
                <div class="tip-content"><!--提示信息--></div>
            </div>
            <dl class="mod-partner">

                <dd class="item"><a target="_blank" href="#">奶粉</a></dd>
                <dd class="item"><a target="_blank" href="#">固态硬盘</a></dd>
                <dd class="item"><a target="_blank" href="#">纸尿裤</a></dd>

            </dl>
        </div>
            <div class="mod-feature">
                <span class="f-item">正品直邮</span>
                <span class="f-item">逾期赔付</span>
                <span class="f-item last">7天无忧退</span>
            </div>
        </div>
    </div>
</div>
<div class="ht-navigation">
<ul class="container">
<li class="item " id="category_0" ><a href="/">首页</a></li>
<li class="item"  id="category_1">
    <a href="/item/category/1.html">
        母婴专区
    </a>
</li>
<li class="item" id="category_2">
    <a  href="/item/category/2.html">食品保健</a>
</li>
<li class="item" id="category_3">
    <a href="/item/category/3.html" >电子数码</a>
</li>
<li class="item" id="category_4">
    <a href="/item/category/4.html" >海外直邮<i class="icon-hot"></i></a>
</li>

<li class="last"></li>
</ul>
</div>
<script>
$("#category_0").addClass('active')
</script>

 <link rel="stylesheet" media="screen" href="/static/css/index.css">
 <script type="text/javascript" src="/static/js/plugin/jquery.slider.min.js"></script>
<!-- slider -->
<div id="banner-box" class="banner-box">
    <div class="bd">
        <ul>
            <li>
                <div class="container">
                    <div class="m-width">
                        <a href="#"><img src="http://cdn.qqqg.com/web/images/imgProd/banner/img1.jpg" /></a>
                    </div>
                </div>

            </li>
            <li>
                <div class="container">
                    <div class="m-width">
                        <a href="#"><img src="http://cdn.qqqg.com/web/images/imgProd/banner/img2.jpg" /></a>
                    </div>
                </div>

            </li>
            <li>
                <div class="container">
                    <div class="m-width">
                        <a href="#"><img src="http://cdn.qqqg.com/web/images/imgProd/banner/img3.jpg" /></a>
                    </div>
                </div>

            </li>
            <li>
                <div class="container">
                    <div class="m-width">
                        <a href="#"><img src="http://cdn.qqqg.com/web/images/imgProd/banner/img4.jpg" /></a>
                    </div>
                </div>

            </li>
        </ul>
    </div>
    <div class="container">
        <div class="banner-btn">
            <a class="prev" href="javascript:void(0);"></a>
            <a class="next" href="javascript:void(0);"></a>
            <div class="hd"><ul></ul></div>
        </div>
    </div>
</div>
<!-- slider End -->
 <input type="hidden" name="_xsrf" value="2|ffa71164|6c4a9a30e02a5159e78d8a6eb73df547|1442987840"/>




<div id="docFoot">
    <div class="footBgWrap">
        <div class="box">
            <div id="btmlist">
                <ul class="clearfix">
                    <li>
                        <i class="w-icon w-icon-23"> </i>

                        <strong class="tit">100%自营正品</strong>

                        <span class="desc">全球抢购 正品保障</span>

                    </li>
                    <li>
                        <i class="w-icon w-icon-23 w-icon-23-1"> </i>

                        <strong class="tit">100%海外精选</strong>

                        <span class="desc">全球尖货 一站选购</span>

                    </li>
                    <li>
                        <i class="w-icon w-icon-23 w-icon-23-2"> </i>

                        <strong class="tit">7天无忧退货</strong>

                        <span class="desc">国内退货 售后无忧</span>

                    </li>
                    <li class="last">
                        <i class="w-icon w-icon-23 w-icon-23-3"> </i>

                        <strong class="tit">全新海淘模式</strong>

                        <span class="desc">极速清关 政府监管</span>

                    </li>
                </ul>
            </div>
            <div id="guideList">
                <ul class="clearfix">
                    <li class="bd_none first">
                        <p class="txt1">400-1513-400</p>
                        <p class="txt2 clearfix"><span class="fl">周一 到 周日 </span><span class="fr num">09:00 - 18:00</span>
                        </p>
                        <!--
                        <div class="focuson">
                            <span class="label">关注我们</span>

                            <a rel="nofollow" target="_blank" href="http://weibo.com/u/5448480859" class="itm">
                                <em class="w-icon w-icon-24"></em>

                                <span class="m-notice m-notice-1">
                                <img width="100px" height="100px" src="http://mm.bst.126.net/images/index/2dcode-wb.jpg">
                                <span class="arrow">
                                <span class="arr"></span>
                                <span class="arr1"></span>
                                </span>
                                </span>
                            </a>
                            <a rel="nofollow" href="javascript:void(0);" class="itm nolink">
                                <em class="w-icon w-icon-24 w-icon-24-1"></em>

                                <span class="m-notice">
                                <img width="100px" height="100px" src="http://mm.bst.126.net/images/index/2dcode-wx.jpg">
                                <span class="arrow">
                                <span class="arr"></span>

                                <span class="arr1"></span>
                                </span>
                                </span>
                            </a>
                            <a rel="nofollow" href="javascript:void(0);" class="itm nolink">
                                <em class="w-icon w-icon-24 w-icon-24-2"></em>

                                <span class="m-notice m-notice-2">
                                <img width="100px" height="100px" src="http://mm.bst.126.net/images/index/2dcode-yx.jpg">
                                <span class="arrow">
                                <span class="arr"></span>

                                <span class="arr1"></span>
                                </span>
                                </span>
                            </a>
                        </div>
                        -->
                    </li>
                    <li>
                        <dl>
                            <dt><em>商品保障</em></dt>

                            <dd><a rel="nofollow" title="自营正品" href="#genuine" target="_blank">自营正品</a>
                            </dd>
                            <dd><a rel="nofollow" title="海外直邮" href="#global" target="_blank">海外直邮</a>
                            </dd>
                            <dd><a rel="nofollow" title="无忧退货" href="#promise" target="_blank">无忧退货</a>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><em>新手指南</em></dt>

                            <dd><a rel="nofollow" title="购物流程" href="/help/buy.html" target="_blank">购物流程</a>
                            </dd>
                            <dd><a rel="nofollow" title="支付方式" href="/help/epay.html" target="_blank">支付方式</a>
                            </dd>
                            <dd><a rel="nofollow" title="通关关税" href="/help/tariff.html" target="_blank">通关关税</a>
                            </dd>
                            <dd><a rel="nofollow" title="常见问题" href="/help/faq.html" target="_blank">常见问题</a>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><em>售后服务</em></dt>

                            <dd><a rel="nofollow" title="退货政策" href="/help/returnpolicy.html" target="_blank">退货政策</a>
                            </dd>
                            <dd><a rel="nofollow" title="退货流程" href="/help/returnprocess.html" target="_blank">退货流程</a>
                            </dd>
                            <dd><a rel="nofollow" title="退款说明" href="/help/refund.html" target="_blank">退款说明</a>
                            </dd>
                            <dd><a rel="nofollow" title="联系客服" href="#">联系客服</a>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><em>物流配送</em></dt>

                            <dd><a rel="nofollow" title="配送方式" href="/help/deliverymode.html" target="_blank">配送方式</a>
                            </dd>
                            <dd><a rel="nofollow" title="运费计算" href="/help/freight.html" target="_blank">运费计算</a>
                            </dd>
                            <dd><a rel="nofollow" title="物流跟踪" href="/help/logistracking.html" target="_blank">物流跟踪</a>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><em>关于我们</em></dt>

                            <dd><a rel="nofollow" title="网站简介" href="/help/siteintro.html" target="_blank">网站简介</a>
                            </dd>
                            <dd><a rel="nofollow" title="联系我们" href="/help/contactus.html" target="_blank">联系我们</a>
                            </dd>
                            <dd><a rel="nofollow" title="招商合作" href="/help/cooperation.html" target="_blank">招商合作</a>
                            </dd>
                        </dl>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div id="aboutNEST">
        <a title="About QQQG" target="_blank" rel="nofollow" href="about/">About QQQG</a> -
        <a title="公司简介" target="_blank" rel="nofollow" href="overview">公司简介</a> -
        <a title="联系方法" target="_blank" rel="nofollow" href="contactus.html">联系方法</a>-
        <a title="客户服务" target="_blank" rel="nofollow" href="/service.html">客户服务</a> -
        <a title="隐私政策" target="_blank" rel="nofollow" href="legal.html">隐私政策</a>-
        <a title="全球抢购" target="_blank" href="http://www.qqqg.com/">全球抢购</a>

        <br>网站备案信息：<a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank">粤ICP备15059433号-1</a><span class="copyTxt">广州市悦华物流有限公司版权所有@1997-2015</span>
    </div>
</div>

</body>
</html>