<?py import ujson ?>
<?py from services.payments.payorder_services import PayOrderService ?>
<?py payorder_services = PayOrderService()?>
<div class="pd-20">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商品管理<span class="c-gray en">&gt;</span> 售出商品列表<span class="c-gray en">&gt;</span> 商品评价</nav>
<div class="pd-20">
    <form>
        <div class="text-c"> 评价日期：
            <input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}'})" id="logmin" class="input-text Wdate" style="width:120px;" name="start_date" value="" />
            -
            <input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d'})" id="logmax" class="input-text Wdate" style="width:120px;" name="end_date" value="" />
            <input type="text" name="order_no" placeholder="请输入订单号" value="" style="width:150px" class="input-text">&nbsp
            <input type="text" name="user_name" placeholder="请输入用户名" value="" style="width:150px" class="input-text">&nbsp
            评价级别:
            <select class="input-text" style="width:90px" name="order_status">
                <option>全部</option>
                <?py for key in ASSESS_LEVEL: ?>
                    <option value="${key}">${ASSESS_LEVEL[key]}</option>
                <?py #endfor?>
            </select>&nbsp
            <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i>搜评价</button>
        </div>
    </form>
    <div class="mt-20 dataTables_wrapper">
    <table class="table table-border table-bordered table-hover table-bg table-sort">
        <thead>
            <tr class="text-c">
                <th width="30">ID</th>
                <th width="25">商品ID</th>
                <th width="30">订单号</th>
                <th width="30">用户名</th>
                <th width="45">评价级别</th>
                <th width="45">评价内容</th>
                <th width="45">追评内容</th>
                <th width='40'>评论时间</th>
                <th width="40">操作</th>
            </tr>
        </thead>
        <tbody>
    <?py for comment in data.result: ?>
        <tr class="text-c">
            <td>${comment.id}</td>
            <td>${comment.item_id}</td>
            <?py order_no = handler.get_order_no(comment.order_id) ?>
            <td>${order_no}</td>    
            <?py user_name = handler.get_user_name(comment.user_id) ?>
            <td>${user_name}</td>    
            <td>${ASSESS_LEVEL[comment.assess_level]}元</td>
            <td>${comment.comment}</td>
            <td>${comment.addition_comment}</td>
            <td>${comment.gmt_created}</td>
            <td></td>
        </tr>
    <?py #endfor?>
        </tbody>
    </table>
        #{data.admin_pagination_html()}
    </div>
</div>
</div>
<script type="text/javascript">
/*发货-确认*/
function delivery_goods(title,url,w,h){
    layer_show(title,url,w,h);
}
</script>


