<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>注册 全球抢购（qqqg.com）全球抢购-100%海外直采！</title>
    <meta name="keywords" content="全球抢购,海淘,跨境购,代购,进口,跨境电商,海外直邮"/>
    <meta name="description" content="全球抢购-安全、放心的跨境海淘网站，官方认证，正品保证。轻松购遍海外进口母婴，进口美食 ，进口美妆、进口电子数码，更多产品正陆续推出。"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="http://cdn.qqqg.com/web/images/qqqg.ico"/>

    <link rel="stylesheet" media="screen" href="http://cdn.qqqg.com/web/css/com.min.css">
    <link rel="stylesheet" media="screen" href="http://cdn.qqqg.com/web/css/register.min.css">
    <style type="text/css">

    </style>
    <script type="text/javascript" src="http://cdn.qqqg.com/web/js/jquery.js"></script>
    <script type="text/javascript" src="http://cdn.qqqg.com/web/js/util.js"></script>
    <script type="text/javascript" src="http://cdn.qqqg.com/web/js/reg.min.js"></script>
</head>
<body>
<div id="topNav" class="topNav">
    <?py include('common/header.html') ?>
</div>

<div class="qqqg-header">
    <div class="container">
        <div class="logo">
            <a href="/" class="qqqg-logo">
                全球抢购
            </a>
            <h2></h2>
        </div>
        <div class="borderline"></div>
    </div>
</div>
<div class="container">
    <div class="content">
        <div id="mainForm" method="post" class="regbox step1">
            <div class="number">
                <span id="toTelRegister" class="lblTips">账户注册</span>
            </div>
            <div class="normalInput" style="margin-bottom: 20px;">
                <input type="text" autocomplete="off" placeholder="手机号码" maxlength="11" id="phone" name="phone" value="">
            </div>
            <span for="phone" class="error"></span>
            <div class="usInput">
                <div class="kapkeywrap">
                <input type="text" autocomplete="off" placeholder="图片验证码" maxlength="5" id="kapkey" name="kapkey">
                </div>
                <img src="/common/image_code/" title="点击可刷新验证码" class="randomCode" id="imgKey">
            </div>
            <span for="kapkey" class="error"></span>
            <span id="spanerr" class="error"></span>
            #{xsrf_form_html}
            <div class="rememberField" id="rememberField">
                <span class="mzchkbox"><span class="checkboxPic check_chk"><i class="i_icon"></i></span>
                    <input type="checkbox" checked="checked" value="1" id="acceptFlyme" autocomplete="off" name="acceptFlyme" style="display: none;"></span>
                <label tabindex="0" class="pointer">我已阅读并接受</label>
                <a class="linkABlue" target="_blank" href="/help/agreement.html">《全球抢购服务协议条款》</a>
            </div>
            <span style="display:none;" class="otherError" id="acceptError">请确认已阅读并同意全球抢购服务协议条款</span>
            <a class="fullBtnBlue" id="register">注册</a>
        </div>

        <div class="regbox step2">
            <div id="step2_txt" class="step2_txt">
                <p>我们已经发送一条验证短信至 <span class="address-place"></span></p>
                <p>请输入短信中的验证码</p>
            </div>
            <div class="usInput">
                <div class="kapkeywrap">
                <input type="text" autocomplete="off" placeholder="验证码" maxlength="4" id="smskey" name="smskey">
                </div>
                <a class="linkABlue invalidBtn" href="javascript:void(0);" id="getKey">重新发送</a>
            </div>
            <span for="smskey" class="error"></span>
            <span id="spansmskeyerr" class="error"></span>
            <a class="fullBtnBlue" id="next">下一步</a>
        </div>

        <div class="regbox step3">
            <div class="number">
                <span class="lblTips" >请输入密码</span>
            </div>
            <div class="normalInput">
                <input type="password" autocomplete="off" value=""  maxlength="16" id="password1" placeholder="密码">
                <a onselectstart="return false" class="pwdBtnShow noselect" id="pwdBtn">
                    <i class="i_icon"></i>
                </a>
                <div class="clear"></div>
            </div>
            <span for="password" class="error"></span>

            <div class="normalInput">
                <input type="password" autocomplete="off" value=""  maxlength="16" id="password2" placeholder="确认密码">
                <a onselectstart="return false" class="pwdBtnShow noselect" id="pwdBtn">
                    <i class="i_icon"></i>
                </a>
                <div class="clear"></div>
            </div>
            <span for="password" class="error"></span>
            <span id="pwderr" class="error"></span>
            <a class="fullBtnBlue" id="regSubmit">确认</a>
        </div>
        <div class="regbox end">
            <div class="success">恭喜您，注册成功！<a href="javascript:void(0)" class="login">登录</a></div>
        </div>
    </div>


</div>


<?py include('include/footer.html')?>

</body>
</html>