<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="robots" content="none">
    <meta name="robots" content="noarchive">
<?py include('mobile/include/header.html') ?>
    <link href="http://cdn.qqqg.com/mobile/css/error.min.css" type="text/css"  rel="stylesheet"/>
</head>
<body>
<div class="g-bd">
    <article class="m-failbox">
        <img width="83" title="404-找不到页面" alt="404-找不到页面" src="http://cdn.qqqg.com/mobile/images/fail.png">
        <div>404,  对不起，您访问的页面不存在！</div>
        <div class="rollback"><a href="/">返回首页</a></div>
    </article>
</div>
</body>
