<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="robots" content="none">
    <meta name="robots" content="noarchive">
    <meta name="description" content="全球抢购">
<?py include('mobile/include/header.html') ?>
    <link rel="stylesheet" media="screen" href="http://cdn.qqqg.com/mobile/css/error.min.css">
</head>
<body>
<div class="g-bd">
    <article class="m-failbox">
        <img width="83" title="500-页面无法访问" alt="500-页面无法访问" src="http://cdn.qqqg.com/mobile/images/fail.png">
        <div>500,  很抱歉，您访问的页面无法访问！</div>
        <div class="rollback"><a href="/">返回首页</a></div>
    </article>
</div>
</body>