<div class="pd-20">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 品牌管理 <span class="c-gray en">&gt;</span>添加品牌<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
</div>

    <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="r">
                <a href="javascript:history.go(-1);" class="btn btn-danger radius">返回上一页</a>
            </span>
    </div>
<form action="" method="post" class="form form-horizontal" id="brand-form-add">
    <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>商品类目：</label>
			<div class="formControls col-5">
                <?py if data:?>
                    <input type="text" class="input-text" datatype="*" style="width:200px" placeholder="请选择商品类别" name="category_name" value="${handler.get_category_name_by_id(data.category_id)}" id="category_name"   nullmsg="商品类目不能为空！" readonly>
                <?py else:?>
                    <input type="text" class="input-text" datatype="*" style="width:200px" placeholder="请选择商品类别" name="category_name" value="" id="category_name"   nullmsg="商品类目不能为空！" readonly>
                <?py #endif?>
                <a href="#" onclick="showMenu(); return false;"> 类目选择</a>
                <?py if data:?>
                    <input type="hidden" id="category_id" name="category_id" value="${data.category_id}"/>
                <?py else:?>
                <input type="hidden" id="category_id" name="category_id" />
                <?py #endif?>
            </div>
            <div class="col-4"> </div>
    </div>
    <div class="row cl">
			<label class="form-label col-2"><span class="c-red">*</span>品牌名称：</label>
			<div class="formControls col-5">
                <?py if data: ?>
                    <input type="text" class="input-text" datatype="*1-250" id="name" value="${data.name}" errormsg="品牌名称长度不能超过250个字符" placeholder="请输入品牌名称" name="name" nullmsg="品牌名称不能为空！">
                <?py else: ?>
                    <input type="text" class="input-text" datatype="*1-250" id="name" value="" errormsg="品牌名称长度不能超过250个字符" placeholder="请输入品牌名称" name="name" nullmsg="品牌名称不能为空！">
                <?py #endif ?>
			</div>
            <div class="col-4"> </div>
    </div>
    <div class="row cl">
            <label class="form-label col-2">品牌描述：</label>
			<div class="formControls col-5">
                <?py if data:?>
                    <textarea name="description" cols="60" rows="5"  placeholder="请输入品牌描述">${data.description} </textarea>
                <?py else:?>
                    <textarea name="description" cols="60" rows="5"  placeholder="请输入品牌描述"> </textarea>
                <?py #endif?>
			</div>
    </div>
    <div class="row cl">
            <label class="form-label col-2">是否显示：</label>
			<div class="formControls col-5 skin-minimal">
                <?py if data:?>
                <div class="radio-box">
                    <?py if data.is_online==0: ?>
                    <input name="is_online" type="radio" datatype="*" checked="checked" value="0" nullmsg="请选择" errormsg="显示" placeholder="显示"/> 是
                    <?py else:?>
                    <input name="is_online" type="radio" datatype="*"  value="0" nullmsg="请选择" errormsg="显示" placeholder="显示"/> 是
                    <?py #endif?>
                </div>
                <div class="radio-box">
                    <?py if data.is_online==1: ?>
                    <input name="is_online" type="radio" checked="checked" value="1" nullmsg="请选择" errormsg="不显示" placeholder="不显示"/> 否
                    <?py else:?>
                     <input name="is_online" type="radio"  value="1" nullmsg="请选择" errormsg="不显示" placeholder="不显示"/> 否
                    <?py #endif?>
                </div>
                <?py else:?>
                <div class="radio-box">
                    <input name="is_online" type="radio" datatype="*" checked="checked" value="0" nullmsg="请选择" errormsg="显示" placeholder="显示"/> 是
                </div>
                <div class="radio-box">
                     <input name="is_online" type="radio"  value="1" nullmsg="请选择" errormsg="不显示" placeholder="不显示"/> 否
                </div>
                <?py #endif?>
                备注：当品牌之下没有任何商品的时候，前台品牌模块将不会出现品牌
			</div>
    </div>
    <div class="row cl">
            <label class="form-label col-2">排序值：</label>
            <div class="formControls col-1">
                <?py if data:?>
                <input type="text" class="input-text" datatype="n" id="sort" value="${data.sort}" errormsg="请输入数字" placeholder="请输入数字" name="sort">
                <?py else:?>
                <input type="text" class="input-text" datatype="n" id="sort" value="" errormsg="请输入数字" placeholder="请输入数字" name="sort">
                <?py #endif?>
            </div>
            <div class="col-4"> </div>
    </div>
    <div class="row cl">
            <div class="col-10 col-offset-2">
                <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
                <button  class="btn btn-default radius" type="reset">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
</form>
<!--类目管理div-->
<div id="menuContent" class="menuContent" style="display:none; position: absolute; background-color:#f0f6e4;">
    <ul id="treeDemo" class="ztree" style="margin-top:0; width:160px;"></ul>
</div>

<div id="tomLoading" style="display: none;">
<div class="modal-scrollable" style="z-index: 1060;">
    <div aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade in" id="myModal" style="margin-top: -99.5px; display: block;">
    <div class="modal-header">
    </div>
    <div class="modal-body">
        <p>loading…</p>
    </div>

</div>
</div>
<div class="modal-backdrop fade in" style="z-index: 1050;"></div>
</div>
<!--类目选择js-->
<script type="text/javascript">
    var setting = {
    async: {
        enable: true,
        url:"/admin/category/tree/",
        autoParam:["id", "name=n", "level=lv"],
        otherParam:{"otherParam":"zTreeAsyncTest"},
        dataFilter: filter
    },
    view: {
        dblClickExpand: false
    },
    data: {
        simpleData: {
            enable: true
        }
    },
    callback: {
        beforeClick: beforeClick,
        onClick: onClick
    }
};

function filter(treeId, parentNode, childNodes) {
    if (!childNodes) return null;
    for (var i=0, l=childNodes.length; i<l; i++) {
        childNodes[i].name = childNodes[i].name.replace(/\.n/g, '.');
    }
    return childNodes;
}
function beforeClick(treeId, treeNode) {
    var check = (treeNode && !treeNode.isParent);
    if (!check) alert("只能选择子节点...");
    return check;
}

function onClick(e, treeId, treeNode) {
    var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
    nodes = zTree.getSelectedNodes(),
    v = "";
    id = "";
    nodes.sort(function compare(a,b){return a.id-b.id;});
    for (var i=0, l=nodes.length; i<l; i++) {
        v += nodes[i].name + ",";
        id += nodes[i].id ;

    }
    if (v.length > 0 ) v = v.substring(0, v.length-1);
    var cityObj = $("#category_name");
    cityObj.attr("value", v);

    var category_obj = $("#category_id");
    category_obj.attr("value", id);

}

function showMenu() {
    var cityObj = $("#category_name");
    var cityOffset = $("#category_name").offset();
    $("#menuContent").css({left:cityOffset.left + "px", top:cityOffset.top + cityObj.outerHeight() + "px"}).slideDown("fast");
    $("body").bind("mousedown", onBodyDown);
}

function onBodyDown(event) {
    if (!(event.target.id == "menuBtn" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length>0)) {
        hideMenu();
    }
}

function hideMenu() {
    $("#menuContent").fadeOut("fast");
    $("body").unbind("mousedown", onBodyDown);
}

$(document).ready(function(){
    $.fn.zTree.init($("#treeDemo"), setting);
    $(".dataTables_length,.dataTables_filter").hide();

    $('#save').on('click',function(){
        //$('#tomLoading').show();
        //$('#brand-form-add')[0].submit();
    });

    $('#name').on('blur',function(){
        var param={
            category_id:$('#category_id').val(),
            name:$('#name').val()
        }
        var $this=$(this);
        $('#existName').remove();
        $.getJSON('/admin/brand/checkBrandName',param,function(r){
            if(r.state==200){
                $this.after('<span id="existName" class="color:red">商品名已经存在</span>')
            }
        });
    })
});
</script>
<!--form表单验证-->
<script type="text/javascript" src="/static/admin/lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="/static/admin/lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});

$("#brand-form-add").Validform({
		tiptype:2,
		callback:function(form){
			$("#brand-form-add").submit();
            $('#tomLoading').show();
            $('#brand-form-add')[0].submit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});
});
</script>