<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="description" content="全球抢购">
    <title>全球抢购</title>
    <link rel="shoctcut icon" href="http://cdn.qqqg.com/microshop/images/qqqg.ico">
<?py include('mobile/include/css.html') ?>
    <link rel="stylesheet" media="screen" href="http://cdn.qqqg.com/microshop/css/error.min.css">
</head>
<body>
<div class="g-bd">
    <article class="m-failbox">
        <img width="83" title="" alt="" src="http://cdn.qqqg.com/microshop/images/fail.png">
        <div> ${info}</div>
        <div class="rollback"><a href="/">返回首页</a></div>
    </article>
</div>
</body>
