<style type="text/css">
    .radio-title {
        padding-left: 10px;
        padding-right: 90px;
    }
</style>
<div class="pd-20">
    <form class="form form-horizontal" action="" id="item_attribute_form" method="post">
        
        <?py for key in dict: ?>
            <?py index = 1?>
            <div class="row cl sku">
                <label class="form-label col-3"><span class="c-red">*</span>${key.attribute_name}：</label>
                <?py for value in dict[key]: ?>
                    <?py if index == 1: ?>
                        <input type="radio" name="${key.id}" value="${value.id}" data-attribute-name="${key.attribute_name}" data-attribute-value="${value.attribute_value}" checked="checked" onclick="Set_Sku_Id()"/> ${value.attribute_value}
                    <?py else: ?>
                        <input type="radio" name="${key.id}" value="${value.id}" data-attribute-name="${key.attribute_name}" data-attribute-value="${value.attribute_value}" onclick="Set_Sku_Id()"/> ${value.attribute_value}
                    <?py #endif ?>
                    <?py index += 1?>
                    &nbsp
                <?py #endfor ?>   
            </div>             
        <?py #endfor ?>
        <input type='hidden' name='attribute_ids' id='sku_attribute_ids' />
        <input type='hidden' name='attribute_value_ids' id='sku_attribute_value_ids' />
        <input type='hidden' name='attribute_names' id='sku_attribute_names' />
        <input type='hidden' name='attribute_values' id='sku_attribute_values' />
        <div class="row cl">
            <div class="col-9 col-offset-3">
                <input type="submit" data-loading="稍候..." value="保存" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    
    function Set_Sku_Id(){
        var attribute_ids = '';
        var attribute_value_ids = '';
        var attribute_names = '';
        var attribute_values = '';
        <?py for key in dict: ?>
            attribute_names += $("input[name="+${key.id}+"]:checked").attr('data-attribute-name')+';';
            attribute_values += $("input[name="+${key.id}+"]:checked").attr('data-attribute-value')+';';
            attribute_ids += ${key.id}+';';
            attribute_value_ids += $("input[name="+${key.id}+"]:checked").val()+';';
        <?py #endfor ?>
        $("#sku_attribute_ids").val(attribute_ids);
        $("#sku_attribute_names").val(attribute_names);
        $("#sku_attribute_value_ids").val(attribute_value_ids);
        $("#sku_attribute_values").val(attribute_values);
    }

</script>













